// fv
.fv {
    margin-top: 73px;
    margin-bottom: 20px;
    &__area {
        width: 100%;
        height: 340px;
        position: relative;
    }
    &__img {
        width: 100%;
        height: 100%;
    }
    &__arrow {
        width: 110px;
        position: absolute;
        top: 60%;
        right: 0;
        transform: translate(0%, -50%);
    }
}

// 集客・求人専門サイト制作
.catch {
    padding-top: 80px;
    &__contain {
        width: calc(100% - 40px);
        margin: 0 auto;
    }
    &__title {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 40px;
        letter-spacing: 0.05em;
        line-height: 50px;
        text-align: left;
        color: #fff;
        margin-bottom: 15px;
    }
    &__price {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: left;
        color: #fff;
        display: flex;
    }
    &__price--txt,
    &__price--number,
    &__price--yen {
        display: block;
    }
    &__price--txt {
        width: 102px;
    }
    &__price--number {
        margin: 0 24px 0 28px;
    }
    &__month {
        width: fit-content;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 25px;
        text-align: center;
        border: solid 1px #fff;
        color: #fff;
        padding: 5px 55px;
        margin-top: 15px;
        margin-bottom: 15px;
        span{            
            width: fit-content; 
            display: block;
            font-size: 24px;
            line-height: 30px;
            text-align: left;
            color: #F5FF00;  
            border-bottom: solid 1px #F5FF00;
            padding-bottom: 2px;    
            margin: 0 auto;  
        }
    }
    &__plan {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 28px;
        letter-spacing: 0.05em;
        line-height: 35px;
        text-align: left;
        color: #fff;
    }
    &__plan.-red {
        color: #FF0000;
        span {
            color: #fff;
            font-size: 20px;
            margin-left: 30px 
        };
    }

}





// is it hope you?
.hope {
    padding-top: 80px;
    &__title {
        width: 324px;
        height: 69px;
        margin: 0 auto 40px;
    }
    &__catch {
        width: fit-content;
        margin: 0 auto 40px;
    }
    &__top {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #fff;
    }
    &__top:first-child {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        padding: 0 35px;
    }  
    &__top:first-child:before {  
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(-45deg);
    }
    &__top:first-child:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &__head {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #ff0;
        background-color: rgba($color: #fff, $alpha: 0.35);
    }
    &__img {
        width: 127px;
        height: 330px;
        margin: 0 auto 40px;
    
    }
    &__foot{
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    &__text{
        width: 308px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #fff;
        margin: 0 auto 40px;

    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__item__contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 272px;
        margin: 0 auto;
    }
    &__label {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #ff0;
        background-color: rgba($color: #fff, $alpha: 0.35);
        width: 100px;
    }
    &__point--catch {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #fff;

    }
    &__point--img {
        width: 100px;
        height: 100px;
    }
}

// is it hope you?
.why {
    padding-top: 80px;
    &__title {
        width: 324px;
        height: 69px;
        margin: 0 auto 40px;
    }
    &__img {
        width: 320px;
        height: 230px;
        margin: 0 auto 40px;
    }
    &__catch {
        width: fit-content;
        margin: 0 auto 80px;
    }
    &__top {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #fff;
    }
    &__top:not(:last-child) {
        margin-bottom: 10px;
    }
    &__top:first-child {
        position: relative;
        width: fit-content;
        margin: 0 auto 10px;
        padding: 0 35px;
    }  
    &__top:first-child:before {  
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(-45deg);
    }
    &__top:first-child:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &__head {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: center;
        color: #ff0;
        background-color: rgba($color: #fff, $alpha: 0.35);
        margin-bottom: 10px;
    }
    &__foot{
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    &__text{
        width: 308px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 28px;
        text-align: left;
        color: #fff;
        margin: 0 auto 40px;

    }
    &__package{
        font-family: Galvji;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 0.02em;
        line-height: 20px;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }
    &__item{
        &__contain {
            width: calc(100% - 70px);
            margin: 0 auto;
            padding: 0 15px;
            border-bottom: solid 1px #fff;
        }
        &__label {
            font-family: "Hiragino Sans";
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: center;
            color: #ff0;
            background-color: rgba($color: #fff, $alpha: 0.35);
            width: 100px;
            margin-bottom: 15px;
        }
        &__head {
            font-family: "Hiragino Sans";
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 0.05em;
            line-height: 28px;
            text-align: left;
            color: #fff;
            margin-bottom: 10px;
        }
        &__text {
            font-family: "Hiragino Sans";
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.05em;
            line-height: 24px;
            text-align: left;
            color: #fff;
            padding-bottom: 25px;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

// flow
.flow {
    padding-top: 80px;
    &__contain {
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
        height: fit-content;
        margin: 0 auto;
    }
    &__list {
        width: 85%;
        padding: 0 60px 0 20px;
    }
    &__item {
        width: 100%;
        padding: 30px 20px;
        background-color: rgba($color: #fff, $alpha: 0.35);
        position: relative;
    }
    &__item:not(:last-child) {
        margin-bottom: 25px;
    }
    &__number {
        font-family: Yantramanav;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.05em;
        line-height: 46px;
        text-align: left;
        color: #ff0;
        position: absolute;
        top: 0%;
        left: 3.25rem;
        transform: translate(-50%, -50%);
    }
    &__detail {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 24px;
        text-align: left;
        color: #fff;
    }
    &__arrow {
        width: 15px;
    }
    &__text {
        width: calc(100% - 85% - 15px);
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        color: #ff0;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        letter-spacing: 2px;
    }
}

// entry
.entry {
    padding-top: 80px;
    &__img {
        width: 290px;
        height: 170px;
        margin: 0 auto 80px;
    }

}

// premium
.premium {
    padding-top: 80px;
    &__title {
        font-family: Galvji;
        font-weight: normal;
        font-size: 52px;
        letter-spacing: 0.02em;
        line-height: 54px;
        text-align: left;
        color: #ff0;
        margin-bottom: 50px;
    }
    &__text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 24px;
        text-align: left;
        color: #fff;     
        width: fit-content;
        margin: 0 auto 50px;
    }
    &__img {
        width: 350px;
        height: 170px;
        margin: 0 auto 0px;
    }
}

// strength
.strength {
    padding-top: 80px;
    &__title {
        font-family: Galvji;
        font-weight: normal;
        font-size: 52px;
        letter-spacing: 0.02em;
        line-height: 54px;
        text-align: center;
        color: #ff0;
        margin-bottom: 50px;
    }
    &__it {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: center;
        color: #fff;
        margin: 0 auto 50px;
    }
    &__content:not(:last-child) {
        margin-bottom: 60px;
    }
    &__subTitle {
        font-family: Galvji;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 17px;
        text-align: left;
        color: #ff0;
        background-color: rgba($color: #fff, $alpha: 0.35);
        padding: 15px 30px;
        width: fit-content;
        margin-bottom: 30px;
    }
    &__subTitle.white {
        color: #fff;
        display: flex;
        align-items: center;
    }
    &__subTitle.right {
        background-color: rgba($color: #000000, $alpha: 0.0);
        width: calc(100% - 0px);
        padding: 0;
        text-align: right;
        span{
            display: inline-block;
            width: fit-content;
            background-color: rgba($color: #fff, $alpha: 0.35);
            padding: 10px 30px;
        }
    }
    &__subTitle--big {
        font-size: 48px;
        color: #ff0;
    }
    &__text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 22px;
        text-align: left;
        color: #fff;
        padding: 0 40px;
    }
}

// その他にも、集客、求人の環境が整っています。
.attract {
    padding-top: 80px;
    &__word {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 30px;
        text-align: center;
        color: #fff;
        margin-bottom: 80px;
    }
    &__content:not(:last-child) {
        margin-bottom: 30px;
    }
    &__label {
        font-family: "Hiragino Sans";
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 15px;
        text-align: left;
        color: #fff;  
        padding: 15px 30px;
        width: calc(100% - 110px);
        margin-bottom: 20px;
        background-color: rgba($color: #fff, $alpha: 0.35);    
    }
    &__img {
        width: 280px;
        margin: 0 auto 20px;
    }
    &__text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 22px;
        text-align: left;
        color: #fff;    
        width: calc(100% - 70px);
        margin: 0 auto;    
    }
}

// 納品までの流れはこちらです
.development {
    padding-top: 80px;
    &__contain {
        width: calc(100% - 44px);
        margin: 0 auto;
        padding: 0 0 0 16px;
    }
    &__contain:not(:last-child) {
        margin-bottom: 20px;
    }
    &__label {
        position: relative;
        margin-bottom: 15px;
    }
    &__number {
        font-family: Galvji;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.02em;
        line-height: 40px;
        text-align: left;
        color: #ff0;   
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);     
    }
    &__detail {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        padding: 15px 31px;          
        background-color: rgba($color: #fff, $alpha: 0.35);    
    }
    // 以下は必要な時に出す
    // &__desc{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: stretch;
    //     height: fit-content;
    // }
    // &__arrow{
    //     min-width: 1px;
    //     height: 100%;
    // }
    &__text {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-align: left;
        color: #fff;
        width: calc(100% - 41px);
        padding: 20px 20px;  
        margin-left: 10px;
        // 矢印関連
        border-left: solid 2px #fff;  
        position: relative;
    }
    // 矢印関連
    &__text::before {  
        position: absolute;
        left: 1px;
        top: 89%;
        content: "";
        width: 2.5px;
        height: 15px;
        background: #fff;
        border-radius: 3px;
        transform: rotate(30deg);
    }
    &__text.-no3::before {  
        top: 95%;
    }
    &__text.no-arrow {
        // 矢印関連
        border-left: none;  
        position: static;
    }
    // 矢印関連
    &__text.no-arrow::before {  
        position: static;
        left: 0px;
        top: 0%;
        content: "";
        width: 0px;
        height: 0px;
        background: #fff;
        border-radius: 0px;
        transform: rotate(30deg);
    }
}

// プラン
.plan{
    border-top: solid 2px #fff;
    padding-top: 100px;
    &__contain{
        width: calc(100% - 30px);
        margin: 0 auto;
    }
    &__tabs {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    &__tab {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        text-align: center;
        line-height: 26px;
        background-color: #fff;
        border: 1px solid #ccc;
        width: calc(50% - 10px);
        padding: 10px 0;
        cursor: pointer;
        color: #000;
        border-radius: 5px;
        
    }
    &__tab.active {
        background-color: #000;
        color: #fff;
    }
    &__menu {
        display: none;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }
    &__menu.active {
        display: block;
    }
    &__list:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: dotted 1px #000;
    }
    &__name,
    &__detail {        
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: left;

    }
    &__name {
        color: #FF0000;
    }
    &__detail {
        color: #000;
        padding-bottom: 3px;
    }
}

#tab2{
    border: 1px solid #000;
    background-color: #000;
    .plan__detail{
        color: #fff;
    }
    .plan__list:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: dotted 1px #fff;
    }
    .plan__list:last-child {
        padding-bottom: 20px;
    }
}


// こんな想いありませんか？
.desire {
    padding-top: 80px;
    &__wrapper{
        margin: 0 auto;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    
        img{
            width: 18px;
            height: 18px;
        }
        span{
            display: block;
            font-family: "Hiragino Sans";
            font-weight: normal;
            font-size: 20px;
            letter-spacing: 0.05em;
            line-height: 46px;
            text-align: left;
            color: #fff;
        }
    }
    &__img {
        width: 250px;
        height: 250px;
        margin: 0 auto 80px;
    }
    &__list {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 44px;
        text-align: left;
        color: #fff;
        width: 250px;
        margin: 0 auto;
    }

}



// よくある質問
.faq {
    padding-top: 80px;
    &__list{
        max-width: 350px;
        padding: 0 20px;
        margin: 0 auto 50px;
    }
    &__item {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        padding: 8.5px 0;
    }
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
    &__question,
    &__answer {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-align: left;
        color: #fff;
    }
    &__question{
        border-bottom: solid 1px #fff;
        margin-bottom: 15px;
    }
    &__answer{
        padding-top: 10px;
        display: none;
    }
    &__answer--1.show{
        display: block;
    }

}

// entry
.entry {
    padding-top: 80px;
    &__form {
        width: calc(100% - 50px);
        margin: 40px auto 0;
        &__inputitems {
            margin-bottom: 40px;
        }
        &__inputitems:not(:last-child) {
            margin-bottom: 20px;
        }
        &__inputitem {
            font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 26px;
            text-align: left;
            color: #fff;
        }
        &__label {
            color: #fff;
            background-color: #3E87FD;
            margin-right: 10px;
            font-size: 14px;
        }
        &__name { 
            font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.05em;
            line-height: 26px;
            text-align: left;
            color: #fff;
        }
        &__textbox,
        &__textarea {
            width: calc(100% - 20px);
            border: solid 1px #fff;
            background-color: #3E87FD; /* 任意の背景色 */
            padding: 10px;
            color: #fff;
        }
        &__textbox::placeholder,
        &__textarea::placeholder {
            color: #fff;
        }
        &__textbox{
            margin-bottom: 10px;
        }
        &__textarea{
            margin-bottom: 40px;
        }
        &__button button {
            font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            width: 100%;
            border: solid 1px #fff;
            background-color: #3E87FD; /* 任意の背景色 */
            color: #fff;
            padding: 15px 125px;
            margin: 0 auto;
            border-radius: 40px;
        }
    }

}



// 会社概要
.company {
    padding-top: 80px;
    padding-bottom: 80px;
    &__list{
        max-width: 264px;
        margin: 0 auto;
    }
    &__item {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        padding: 8.5px 0;
        border-bottom: dotted 1px #fff;
    }
    &__item:last-child {
        border-bottom: none;
    }

}


