.l-footer {
    &__sns {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 20px;
        border-bottom: solid 2px #fff;
        &__item {
            width: 24px;
            height: 24px;
        }
        &__item:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__copy {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.05em;
        line-height: 20px;
        text-align: center;
        color: #fff;
        padding: 20px 0;
    }

}

