html{
    font-size: 10px;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.lp-wrap{
    background-color: #3E87FD;
    max-width: 500px;
    margin: 0 auto;
}
.mark{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    color: #fff;
    -webkit-text-stroke: 1px #F7F7DC;
}

.contact-title{
    font-family: Galvji;
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0.02em;
    line-height: 40px;
    text-align: center;
    color: #ff0;
    padding: 123px 0 20px;
}

// LP下部にあるasterliskのロゴとメニュー
.asterisk-under {
    
    &__wrap {
        margin-bottom: 30px;
    }
    &__logo {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
        font-size: 78px;
        line-height: 26px;
        text-align: center;
        color: #fff;

    }
    &__title--big {
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #fff;

    }
    &__title--little {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 10px;
        letter-spacing: 0.05em;
        line-height: 24px;
        text-align: center;
        color: #fff;

    }
    &__menu {
        margin-bottom: 20px;
    }
    &__list {
        text-align: center;
        a{
            font-family: "Hiragino Sans";
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.05em;
            line-height: 24px;
            text-align: center;
            color: #fff;
        }
    }
    &__list:not(:last-child) {
        margin-bottom: 5px;
    }

}

// お問い合わせ誘導ボタン
.entry-contact {
    &__item{
        margin-bottom: 20px;
    }
    &__word {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 24px;
        text-align: center;
        color: #fff;
        margin-bottom: 8px;
    }
    &__button {
        width: 250px;
        padding: 11px 0;
        margin: 0 auto;
        background-color: #fff;
        &__text {
            color: #000;
        }
        &__text--en {
            font-family: Galvji;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            display: block;
            text-align: center;
        }
        &__text--ja {
            font-family: "Hiragino Sans";
            font-weight: normal;
            font-size: 10px;
            letter-spacing: 0.05em;
            line-height: 20px;
            display: block;
            text-align: center;
        }
    }
}

// follow meのボタン
.follow-me {
    margin: 0 auto 50px;
    padding: 0px 0;
    &__up{
        text-align: center;
    }
    &__catch {
        font-family: "Noto Sans CJK JP";
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.05em;
        margin-bottom: 25px;
        color: #fff;
        position: relative;
        display: inline-block;
        padding: 0 30px;
    }
    &__catch::before {  
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(-45deg);
    }
    &__catch::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: #fff;
        border-radius: 3px;
        transform: rotate(45deg);
    }
    &__under {
        display: flex;
        justify-content: center;
        height: 73px;
        &__right {
            margin-left: 30px;
        }
    }
    &__btn {
        width: 160px;
        height: 73px;
        position: relative;
        border-radius: 5px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Yantramanav;
            font-weight: normal;
            font-size: 18px;
            letter-spacing: 0.1em;
            line-height: 35px;
            text-align: center;
            color: #fff;
            img{
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }
    &__btn--line {
        background-color: #42FF29;
        margin-right: 20px;
    }
    &__btn--instagram {
        background-color: #E538F4;
    }

}

// スマホメニュー
.sp-menu {
    background-color: #3E87FD;
    display: none;
    padding-top: 100px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 100px);
    overflow: auto;
    &__list {
        width: fit-content;
        margin: 0 auto 20px;
    }
    &__item {
        text-align: left;
    }
    &__item:not(:last-child) {
        margin-bottom: 10px;
    }
    &__number {
        font-family: Galvji;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.02em;
        line-height: 36px;
        text-align: left;
        color: #ff0;
        margin-right: 5px;
    }
    &__name {
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 26px;
        text-align: left;
        color: #fff;
    }
}
.sp-menu.open{
    display: block;
    position: fixed;
    z-index: 9990;
}

// お問い合わせページの場所
.contact-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    &__position {
        font-family: "Noto Sans JP";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.2em;
        line-height: 12px;
        text-align: left;
        color: #333;
        padding: 6px 15px;
        border-radius:10px;
        border: solid 1px #000;
    }
    &__position.show{
        background-color: #000;
        color: #fff;
    }
    &__line {
        width: 18px;
        height: 1px;
        background-color: #000;
    }
}


